/* BANNER */

header {
  background: url(https://cdn.pixabay.com/photo/2021/09/07/07/11/game-console-6603120_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
nav {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
nav > ul {
  display: flex;
  gap: 2rem;
  color: white;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 3rem;
  text-align: center;
  height: 55rem;
}

/* SERVIÇOS */

.serviços {
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 5%;
  gap: 5rem;
}
.servBlocos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  width: 33%;
  gap: 2.5rem;
}
.icon {
  color: white;
  background-color: #feb300;
  border-radius: 100%;
  padding: 2rem;
}

/* PORTIFÓLIO */

.portifolio {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 5%;
  gap: 5rem;
}
.portBlocosOrg {
  display: grid;
  gap: 5rem 5rem;
  grid-template-columns: auto auto auto;
  padding: 5rem;
}
.portTextOrg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portImg {
  width: 30rem;
  height: 30rem;
  padding: 2.5rem 3rem;
}

/* SOBRE */

.sobre {
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 5%;
  gap: 5rem;
}
.sobreOrg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.template1 {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  z-index: 1;
}
.template2 {
  display: flex;
  gap: 2rem;
  z-index: 1;
}
.templateImg {
  padding: 1rem;
  border-radius: 100%;
  background-color: #c500fe;
  width: 15rem;
  height: 15rem;
}
.templateText {
  width: 40.65%;
}
.descServ1 {
  font-size: 1.5rem;
  text-align: baseline;
}
.descServ2 {
  font-size: 1.5rem;
  text-align: end;
}

/* TIME */

.time {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 10%;
  gap: 5rem;
}
.timeTextOrg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgPessoa {
  border-radius: 100%;
  width: 75%;
  height: 75%;
}
.imgRedes {
  background-color: #feb300;
  border-radius: 25%;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
}
.redesOrg {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* PARCEIROS */

.parceiros {
  background-color: #131313;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.parceirosImg {
  width: 10rem;
  height: 10rem;
}
.parceirosImgOrg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

/* CONTATO */

.contato {
  background: url(https://files.cults3d.com/uploaders/14574880/illustration-file/a457d24e-afca-412b-a57e-c94fa123dad6/pixelworldmap6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  padding: 10rem 10%;
  gap: 5rem;
}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.form2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.formText {
  padding: 1.6rem;
  inline-size: 125%;
}

/* PES */

.pes {
  background-color: #131313;
  padding: 2rem;
}
.pesOrg {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.pesImgRedes {
  background-color: #c500fe;
  border-radius: 25%;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
}
.pesTextOrg {
  display: flex;
  gap: 1rem;
  text-align: center;
}

/* GERAL */

* {
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* 62.5% é equivalente a 10px */
}
.textOrg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.blocosOrg {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 80%;
  margin: 0 20rem;
  gap: 5rem;
}
.blocos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  gap: 2.5rem;
}
.botão {
  background-color: #feb300;
  border-radius: 0.5rem;
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.tituloServ {
  font-size: 3rem;
  text-align: center;
}
.descServ {
  font-size: 1.5rem;
  text-align: center;
}
.headText {
  font-size: 1.5rem;
  text-align: center;
}
.cor1 {
  color: white;
}
.cor2 {
  color: #808080;
}
.cor3 {
  color: #feb300;
}
.fonte1 {
  font-family: "Georgia", sans-serif;
  font-weight: 100;
}
.fonte2 {
  font-family: "Georgia", sans-serif;
  font-weight: 700;
}
.fonte3 {
  font-family: "Georgia", serif;
  font-weight: 500;
}
.fonte4 {
  font-family: "Georgia", serif;
  font-weight: 500;
  font-style: italic;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1024px) {
  .portBlocosOrg {
    display: grid;
    gap: 5rem 5rem;
    grid-template-columns: auto auto;
    padding: 5rem;
  }
}
@media screen and (max-width: 600px) {
  nav {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
  }
  .portBlocosOrg {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5rem;
  }
  .parceirosImgOrg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
  }
  .pesOrg {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 1.5rem;
  }
  .blocosOrg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 80%;
    margin: 0 auto;
    gap: 5rem;
  }
  .form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    gap: 5rem;
  }
  .headText {
    font-size: 1.3rem;
    text-align: center;
  }
}
@media screen and (max-width: 300px) {
  nav {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
  }
  .portBlocosOrg {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5rem;
  }
  .portImg {
    width: 20rem;
    height: 20rem;
    padding: 2.5rem 3rem;
  }
  .pesOrg {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 1.5rem;
  }
  .blocosOrg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 80%;
    margin: 0 auto;
    gap: 5rem;
  }
  .form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    gap: 5rem;
  }
  .headText {
    font-size: 0.9rem;
    text-align: center;
  }
}
